#calendar .fc-button-group{display:block;}
#calendar button.fc-button{display:block;}
#calendar table{margin-bottom:0px;}
#calendar table a.fc-event{color:#fff !important;background:#777;border:none !important;font-size:1rem;padding:6px;margin-bottom:0px;}
#calendar table tr:hover{background:white !important;}