<article class="flow">
	<h1><perch:blog id="postTitle" type="text" label="Title" required="true" size="xl autowidth" order="1" /></h1>
	<img src="<perch:blog id="featureImage" type="image" width="1280" label="Feature Image" />" alt="" />
    <p class="date"><perch:blog id="postDateTime" type="date" time="true" format="%d %B %Y" label="Date Published" /></p>
    <perch:if exists="image">
        <div>
            <img src="<perch:blog id="authorImage" type="image" width="100" height="100" crop="true" label="Author Image" order="4" />" alt="<perch:blog id="authorGivenName" type="hidden" />" />
        </div>
    </perch:if>
	<perch:blog type="textarea" id="text" label="Text" html editor="redactor" size="xxl autowidth" imagewidth="768" />
</article>

<perch:blog id="postURL" suppress="true" label="Post URL" />
<perch:blog id="excerpt" type="textarea" label="Excerpt" editor="markitup" markdown="true" order="3" suppress="true" size="s" />