<perch:before>
		    <ul class="posts">
</perch:before>
        		<li class="flow padding background_white border_grey shadow">
	                <a href="/news/<perch:if exists="section"><perch:blog id="section"><perch:else>post</perch:if>/<perch:blog id="postSlug">" rel="bookmark">
	                    <h2>
	                        <perch:blog id="postTitle" />
	                    </h2>
	                </a>
	                <p class="date"><perch:blog id="postDateTime" type="date" time="true" format="%d %B %Y" label="Date Published"/></p>
	                <perch:blog id="excerpt" type="textarea" textile="true" />
	                <p><a href="/news/<perch:blog id="postSlug">" rel="bookmark" class="button">Read Post</a></p>
        		</li>
<perch:after>
			</ul>
    <perch:if exists="paging">
        <div class="paging">
            Page
            <perch:blog id="current_page" /> of
            <perch:blog id="number_of_pages" />
            <perch:blog id="page_links" encode="false" />
            <perch:if exists="not_first_page">
                <a href="<perch:blog id="prev_url" encode="false" />">Previous</a>
            </perch:if>
            <perch:if exists="not_last_page">
                <a href="<perch:blog id="next_url" encode="false" />">Next</a>
            </perch:if>
        </div>
    </perch:if>
</perch:after>