<perch:before>
<div class="c-section-cards l-row">
</perch:before>
<div class="c-section-card">
	<a class="c-section-card__link" href="/news/<perch:blog id="sectionSlug" />">
		<div style="background-image: url(<perch:blog id="image" type="image" >)" class="c-section-card__background">
			<div class="c-section-card__overlay"></div>
			<div class="c-section-card__description-wrapper">
				<p class="c-section-card__description"><perch:blog id="sectionDescription" /></p>
			</div>
			<h4 class="c-section-card__title"><perch:blog id="sectionTitle" /></h4>
		</div>
	</a>
</div>
<perch:after>
</div>
</perch:after> 